@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: radial-gradient(var(--black) 40%, black);
    --black: #272425;
    --red: #BA0018;
    --white: #e4e4e4;
    --white-o6: #e4e4e460;

    /* FONTS  */
    --1: clamp(1px, 1rem, 10px);
    --2: clamp(1px, 1.2rem, 12px);
    --3: clamp(1px, 1.5rem, 15px);
    --4: clamp(1px, 1.8rem, 18px);
    --4A: clamp(2.2px, 2.2rem, 22px);
    --5: clamp(1px, 2.5rem, 25px);
    --6: clamp(3px, 3rem, 30px);
    --6A: clamp(4px, 4rem, 40px);
    --7: clamp(5px, 5.5rem, 55px);
    --8: clamp(1px, 7rem, 70px);
    --9: clamp(1px, 8rem, 80px);
    --10: clamp(1px, 10rem, 100px);
}


body,
html {
    font-size: 62.5%;
    background: var(--background);
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}


@keyframes loading {
    to {
        transform: rotate(180deg);
    }
}

.container {
    width: 100vw;
    height: auto;
    max-width: 1600px;
    display: block;
    margin: 0 auto;
}

.container-page-one {
    overflow: hidden;
    position: relative;
}

.container-page-one header {
    width: 100%;
    height: 14rem;
    display: flex;
    position: relative;
}

.container-page-one header .logo {
    width: 26rem;
    height: 100%;
    display: flex;
}

.container-page-one header .logo img {
    width: 40%;
    margin-left: 8rem;
    object-fit: contain;
    filter: saturate(0%) brightness(5);
}

.container-page-one header .assets {
    width: 75%;
    height: 100%;
    display: grid;
    place-items: center;
    background: url(https://i.ibb.co/9nv3tnF/Captura-de-tela-de-2022-11-05-14-25-43-removebg-preview-Editado.png) no-repeat;
    background-size: 15%;
}

.container-page-one header .assets .trianble-design {
    width: 6rem;
    height: 6rem;
    background-color: var(--red);
    outline: 2px solid var(--red);
    outline-offset: 15px;
    transform: rotate(45deg);
    position: absolute;
    top: -3rem;
    right: 26rem;
}

.container-page-one header .assets nav {
    width: 100%;
}

.container-page-one header .assets nav .menu-mobile {
    display: none;

}

.container-page-one header .assets nav ul {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-page-one header .assets nav ul a {
    font-size: var(--4);
    color: white;
    margin: 1rem 2rem;
    font-weight: bold;
    text-decoration: none;
    opacity: .6;
    position: relative;
    transition: opacity 400ms;
}

.container-page-one header .assets nav ul a.active,
.container-page-one header .assets nav ul a:hover {
    opacity: 1;
}

.container-page-one header .assets nav ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    opacity: 1;
}

.container-page-one header .assets nav ul a:hover:not(nav ul a:last-of-type)::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--white);
    opacity: 1;
}


.container-page-one header .assets nav ul a:last-of-type {
    color: var(--white);
    background-color: var(--red);
    padding: .5rem;
    border-radius: 1rem;
    margin-left: auto;
    opacity: 1;
}


/* SECTION  */
.container-page-one section {
    width: 100%;
    height: calc(100vh - 14rem);
    padding: 4rem 8rem;
    background-size: cover;
    display: flex;
    overflow: hidden;
}

.container-page-one section .content-text {
    width: 50%;
    transition: transform 1s ease-out;
}

.container-page-one section .content-text.scroll {
    transform: translateX(-100%);
}

.container-page-one section .content-text h2 {
    color: transparent;
    font-size: var(--10);
    font-family: sans-serif;
    -webkit-text-stroke-width: .3rem;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 9rem;
    width: 100%;
}

.container-page-one section .content-text h3 {
    color: var(--white);
    font-size: var(--5);
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-page-one section .content-text h3 hr {
    width: 25%;
    height: 2px;
}

.container-page-one section .content-text p,
.container-page-one section .content-text h4 {
    color: var(--white);
    font-size: var(--4);
    text-align: center;
    width: 100%;
    margin: 1rem 0;
}

.container-page-one section .content-text .half-products {
    width: 40%;
    height: 30vh;
    position: absolute;
    bottom: 0vh;
    left: 8rem;
    overflow: hidden;
}

.container-page-one section .content-text .content-half-product {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.container-page-one section .content-text .content-half-product .box-half-product {
    width: 5rem;
    height: 5rem;
    border: 2px solid var(--red);
    border-top: none;
    border-left: none;
    overflow: hidden;
    position: relative;
    transform: rotate(45deg);
    opacity: .3;
    animation: moving 1s infinite ease-in alternate-reverse;
}


.container-page-one section .content-text .content-half-product .box-half-product::after {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: var(--red);
    animation: moving 1s infinite ease-in alternate-reverse;
}

@keyframes moving {
    to {
        opacity: 1;
        bottom: .1rem;
        right: .1rem;
    }
}

.container-page-one section .content-text .content-half-product .box-half-product::before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    background-color: var(--red);
    animation: moving 1s infinite ease-in alternate-reverse;
}

.container-page-one section .content-image {
    width: 50%;
    height: 100%;
    transition: transform 1s ease-out;
}

.container-page-one section .content-image.scroll {
    transform: translateX(100%);
}

.container-page-one section .content-image .ball-img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background: linear-gradient(to right, transparent 40%, #BA001860);
    box-shadow: 10px 5px 10px #BA001830;
}

.container-page-one section .content-image img {
    object-fit: contain;
}


/* CONTAINER PAGE 2  */


.container-page-two {
    background-color: var(--black);
    width: 100vw;
    height: 150vh;
    overflow-y: auto;
    background: var(--background)
}

.container-page-two section.products-low-price {
    width: 100%;
    height: 60%;
    display: flex;
}

.container-page-two section.products-low-price .content-image-products {
    width: 40%;
    height: 100%;
    background: url(https://i.ibb.co/7GSp3Hx/Design-sem-nome-9-removebg-preview.png) no-repeat;

}

.container-page-two section.products-low-price .content-image-products img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* CONTENT PRODUCTS  */
.container-page-two section.products-low-price .content-products {
    width: 50%;
    height: 100%;
    margin-left: 5%;
}

.container-page-two section.products-low-price .content-products h2 {
    color: var(--white);
    font-size: var(--5);
    margin: 4rem 0;
    width: 100%;
    text-align: center;
}

.container-page-two section.products-low-price .content-products h2 span {
    font-size: var(--5);
    background-color: var(--red);
    border-radius: 50%;
    padding: .8rem;
}


.container-page-two section.products-low-price .content-products .content-all-products {
    display: flex;
}

.container-page-two section.products-low-price .content-products .content-all-products button {
    width: 3rem;
    opacity: .1;
    border: none;
    background: linear-gradient(to right, #27242550 30%, var(--white-o6));
    cursor: pointer;
    transition: opacity 300ms linear;
    color: var(--white);
    font-size: var(--5);
    border-radius: 1rem;
}

.container-page-two section.products-low-price .content-products .content-all-products button.button-left {
    background: linear-gradient(to left, #27242550 30%, var(--white-o6));
}


.container-page-two section.products-low-price .content-products .content-all-products button:hover {
    opacity: .7;
}


.container-page-two section.products-low-price .content-products .content-all-products .box-all-products {
    border-radius: 1rem;
    overflow-x: auto;
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.container-page-two section.products-low-price .content-products .content-all-products .box-all-products::-webkit-scrollbar {
    display: none;
}

.container-page-two section.products-low-price .content-products .content-all-products .box-all-products .box-product {
    width: 15rem;
    min-width: 35%;
    height: 25rem;
    min-height: 40%;
    margin: 1rem .5rem;
    overflow: hidden;
    opacity: .8;
    border: 1px solid var(--white-o6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 1rem;
    scroll-snap-align: center;
    position: relative;
}

.container-page-two section.products-low-price .content-products .content-all-products .box-all-products .box-product:hover {
    opacity: 1;
}

.container-page-two section.products-low-price .content-products .content-all-products .box-all-products .box-product .box-img {
    width: 100%;
    height: 50%;
}

.container-page-two section.products-low-price .content-products .content-all-products .box-all-products .box-product .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-page-two section.products-low-price .content-products .content-all-products .box-all-products .box-product .black-just-text {
    width: 110%;
    text-align: center;
    background-color: black;
    color: var(--white);
    padding: .5rem;
    font-size: var(--2);
    text-transform: uppercase;
    transform: rotate(8deg) translate(-5px, 0px);
}

.container-page-two section.products-low-price .content-products .content-all-products .box-all-products .box-product .black-just-text.two {
    transform: rotate(-8deg) translate(-5px, -25px);

}

.container-page-two section.products-low-price .content-products .content-all-products .box-all-products .box-product h3 {
    display: block;
    margin: 0 auto;
    font-size: var(--3);
    color: var(--white);
    text-align: center;
    background-color: var(--red);
    padding: .2rem .4rem;
    border-radius: .5rem;
}

.container-page-two section.products-low-price .content-products .content-all-products .box-all-products .box-product h3.old-price {
    text-decoration: line-through;
    font-size: var(--2);
}


.container-page-two section.products-low-price .content-products .content-all-products .box-all-products .box-product h2 {
    font-size: var(--2);
    margin: .5rem 0;
}


/* SECTIONS GIFTS  */

section.gifts {
    width: 100%;
    height: 30%;
}

section.gifts h2 {
    width: 100%;
    text-align: center;
    font-size: var(--5);
    color: var(--white);
}

section.gifts p {
    width: 100%;
    text-align: center;
    font-size: var(--3);
    color: var(--white);
}

section.gifts .content-gifts {
    width: 100%;
    display: flex;
    justify-content: center;
}

section.gifts .content-gifts .box-gift {
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .8;
}

section.gifts .content-gifts .box-gift.active .head-gift {
    animation: rotate 100ms alternate-reverse infinite;
}

section.gifts .content-gifts .box-gift.active.boom .head-gift {
    animation: boom 600ms ease forwards;
}


@keyframes rotate {
    from {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(-5deg);
    }
}


@keyframes boom {
    to {
        transform: translateY(-100vh);
        opacity: .5;
    }
}

section.gifts .content-gifts .head-gift {
    background-color: royalblue;
    width: 85%;
    height: 20%;
    background: repeating-linear-gradient(to right, rgb(249, 249, 77) 10px, white 15px, rgb(241, 46, 46) 25px);
    box-shadow: 2px 1px 10px black;
    border: 1px solid var(--black);
    position: relative;
}


section.gifts .content-gifts .head-gift .details-head {
    background: var(--red);
    width: 50%;
    height: 70%;
    position: absolute;
    top: -60%;
    left: 25%;
    clip-path: polygon(50% 0, 65% 36%, 92% 44%, 68% 57%, 100% 100%, 44% 100%, 0 100%, 32% 57%, 3% 43%, 35% 34%);
}

section.gifts .content-gifts .body-gift {
    width: 80%;
    height: 60%;
    display: grid;
    place-items: center;
    background: repeating-linear-gradient(60deg, rgb(249, 249, 77) 10px, var(--white) 15px, rgb(241, 46, 46) 25px);
}

section.gifts .content-gifts .body-gift h3 {
    max-width: 60%;
    padding: .5rem;
    text-align: center;
    color: var(--white);
    background-color: #272425;
    font-size: var(--3);
    border-radius: .5rem;
}


/* MODAL GIFT  */

section.gifts .modal-gift {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(https://acegif.com/wp-content/uploads/gif/confetti-10.gif), var(--background);

}

section.gifts .modal-gift section {
    width: 100%;
    display: flex;
}

section.gifts .modal-gift section .content-img {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.gifts .modal-gift section .content-img .ball {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50%;
    left: -50%;
    border-radius: 50%;
    opacity: 1;
    z-index: -1;
    background: radial-gradient(var(--black), black);
    opacity: .8;
    transition: all 600ms ease-in;
}

section.gifts .modal-gift section .content-img .ball.active {
    width: 100vw;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 0;
    opacity: 1;
    z-index: 1;
}

.products-ball-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, black , var(--black));
}

.products-ball-list>h2 {
    margin-top: 2rem;
}

.products-ball-list>h3 {
    margin: 2rem 0;
    color: var(--white);
    font-size: var(--4);
}

.products-ball-list .list-products,
.products-ball-list .best-products {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 80%;
    overflow-x: hidden;
    margin: 4rem 0
}

.products-ball-list .best-products {
    padding: 2rem;
    width: 100%;
    height: 70vh;
}

.products-ball-list .best-products > div{
    padding: 2rem;
    width: auto;
    height:100%;
    display: inline-flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.products-ball-list .best-products .box-product{
    min-width: 18rem;
    opacity: 1;
    border: none;
    transform: perspective(800px) rotateY(20deg);
    transition: transform 300ms linear;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0004) ;
}

.products-ball-list .best-products:hover .box-product{
    opacity: .25;
}  

.products-ball-list .best-products .box-product:hover{
    opacity: 1;
    transform: perspective(800px) rotateY(0);
    border: 1px solid var(--white-o6);
}  

.products-ball-list .box-product {
    width: 15rem;
    min-width: 22%;
    height: 25rem;
    min-height: 40%;
    margin: 1rem .5rem;
    overflow: hidden;
    opacity: .8;
    border: 1px solid var(--white-o6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    border-radius: 1rem;
}


.products-ball-list .box-product:hover {
    opacity: 1;
}

.products-ball-list .box-product .box-img {
    width: 100%;
    height: 50%;
    transition: all 1s ease-out;
}

.products-ball-list .box-product .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products-ball-list .box-product .black-just-text {
    width: 110%;
    text-align: center;
    background-color: black;
    color: var(--white);
    padding: .5rem;
    font-size: var(--2);
    font-weight: bold;
    text-transform: uppercase;
}

.products-ball-list .box-product h3 {
    display: block;
    font-size: var(--3);
    color: var(--white);
    text-align: center;
    padding: .2rem .4rem;
    border-radius: .5rem;
}

.products-ball-list .box-product h3 span {
    background-color: var(--red);
    padding: .2rem .5rem;
    border-radius: .5rem;
}

.products-ball-list .box-product h3.old-price {
    text-decoration: line-through;
    font-size: var(--2);
    background-color: transparent;
}

.products-ball-list .box-product h3.installments {
    font-size: var(--2);
    background-color: transparent;
}

.products-ball-list .box-product h2 {
    display: block;
    margin: .5rem auto;
    font-size: var(--2);
    text-align: center;
    opacity: .7;
}

section.gifts .modal-gift section .content-img>div:first-of-type {
    width: 80%;
    height: 50%;
}

section.gifts .modal-gift section .content-img>div:first-of-type img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

section.gifts .modal-gift section .content-cupom {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.gifts .modal-gift section .content-cupom h3 {
    width: 100%;
    text-align: center;
    font-size: var(--5);
    color: var(--white);
    margin: 2rem;
}

section.gifts .modal-gift section .cart-cupom {
    width: 80%;
    height: 25%;
    min-height: 20rem;
    display: flex;
    cursor: pointer;
    transition: transform 1s ease;
}


section.gifts .modal-gift section .cart-cupom:hover {
    transform: rotate3d(1, 1, 0, 30deg);
}

section.gifts .modal-gift section .cart-cupom .side-left {
    width: 35%;
    height: 100%;
    border: 1px solid var(--red);
    border-left: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, var(--black), black 80%);
}

section.gifts .modal-gift section .cart-cupom .side-left::after {
    content: '';
    width: 20px;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0px;
    left: -20px;
    clip-path: polygon(0 15%, 100% 25%, 0 40%, 100% 50%, 0 65%, 100% 75%, 0 90%, 100% 100%, 100% 0, 100% 0);
}


section.gifts .modal-gift section .cart-cupom .side-left i {
    width: 50%;
    margin: .5rem;
    text-align: center;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: var(--5);
    padding: 1rem;
    border-radius: 1rem;
}


section.gifts .modal-gift section .cart-cupom .side-left h3 {
    color: white;
}


section.gifts .modal-gift section .cart-cupom .side-right {
    width: 65%;
    height: 100%;
    overflow: hidden;
    padding: 1rem;
    border: 1px solid var(--red);
    border-radius: 0 1rem 1rem 0;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--black), black 80%);

}

section.gifts .modal-gift section .cart-cupom .side-right img {
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

section.gifts .modal-gift section .cart-cupom .side-right .cupom {
    color: var(--white);
    width: 100%;
    margin: 1rem;
    font-size: var(--4);
}

section.gifts .modal-gift section .cart-cupom .side-right .cupom code {
    color: var(--white);
    width: 60%;
    min-width: 150px;
    border: 1px solid var(--white);
    padding: .75rem 1.5rem;
    margin: 1rem auto;
    border-radius: 1rem;
    font-size: var(--4);
    display: flex;
    justify-content: space-between;
}

section.gifts .modal-gift section .cart-cupom .side-right code button {
    cursor: pointer;
}

section.gifts .modal-gift section .content-cupom>button {
    padding: 1rem 3rem;
    border: 1px solid var(--red);
    border-radius: 1rem;
    background: linear-gradient(45deg, var(--black), black);
    color: var(--white);
    cursor: pointer;
    transition: background 2s ease;
    margin: 1rem 0;
    position: relative;
}


section.gifts .modal-gift section .content-cupom>button:hover {
    background: linear-gradient(90deg, var(--black), black);
    box-shadow: 1px 1px 10px black;
}



button#top-page {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
}